
.header-p
{font-size: 40;font-weight: 500;margin:20 auto 0;position: relative;text-align: center;width: fit-content;}

.header-p::after
{
    content: "";
    position: absolute;
    top: 0; left: 0;
    text-align: center;
    animation: word 12s  infinite    ;
}
@keyframes word 
{
    /* Developer| Freelancer|Designer| */

    2%{content: "D|";}
    4%{content: "De|";}
    6%{content: "Des|";}
    8%{content: "Desi|";}
    10%{content: "Desig|";}
    12%{content: "Design|";}
    14%{content: "Designe|";}
    16%{content: "Designer|";}
    18%{content: "Designe|";}
    20%{content: "Design|";}
    22%{content: "Desig|";}
    24%{content: "Desi|";}
    26%{content: "Des|";}
    28%{content: "De|";}
    30%{content: "D|";}

    32%{content: "De|";}
    34%{content: "Dev|";}
    36%{content: "Deve|";}
    38%{content: "Devel|";}
    40%{content: "Develo|";}
    42%{content: "Develop|";}
    44%{content: "Developer|";}
    46%{content: "Develope|";}
    48%{content: "Develop|";}
    50%{content: "Develo|";}
    52%{content: "Devel|";}
    54%{content: "Deve|";}
    56%{content: "Dev|";}
    58%{content: "De|";}
    60%{content: "D|";}   


    62%{content: "F|";}
    64%{content: "Fr|";}
    66%{content: "Free|";}
    68%{content: "Freel|";}
    70%{content: "Freela|";}
    72%{content: "Freelan|";}
    74%{content: "Freelanc|";}
    76%{content: "Freelancer|";}
    78%{content: "Freelance|";}
    80%{content: "Freelanc|";}
    83%{content: "Freelan|";}
    86%{content: "Freela|";}
    89%{content: "Freel|";}
    92%{content: "Free|";}
    95%{content: "Fre|";}
    97%{content: "Fr|";}
    100%{content: "F|";}



}

@keyframes word2
{
    /* Developer| Freelancer|Designer| */

    5%{content: "D|";}
    10%{content: "De|";}
    15%{content: "Dev|";}
    25%{content: "Deve|";}
    35%{content: "Devel|";}
    45%{content: "Develo|";}
    55%{content: "Develop|";}
    100%{content: "Developer|";}
}


nav
{
    position: relative;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.884);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-brand {
  color: rgba(255, 255, 255);
  font-size: 28;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-brand:hover {
    color: rgb(255, 255, 255);
}
.nav-link,
.navbar-brand {
  font-family: system-ui;
  font-weight: 500;
  position: relative;
}
.nav-item{
    position: relative;
}
.nav-item:first-child ::before
{
  content: "";
  position: absolute;
  height: 2px;
  background-color:white;
  bottom: -6;
  width: 50%;
}

.nav-item:not(:nth-child(1)):before {
    content: "";
    position: absolute;
    height: 2px;
    background-color:white;
    bottom: -6;
    margin-left: 15px;
    width: 0%;
    transition: ease-in-out .4s all;
}
.nav-item:not(:nth-child(1)):hover::before {
   
    width: 58%;
   transition: ease-in-out .4s all;
}

.navbar-expand-lg .navbar-nav .nav-link {
padding: 0 15;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: white
  }
header {
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  padding: 8 0;
  position: relative;
}
.header-layer
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}
.header-content
{
    color: white;
}
.header-h1
{
    font-size: 65;
}
.navbar-toggler
{color: white;background-color: white;}
.navbar-toggler-icon 
{
    width: 1em;

}
/* ---------------------------------about------------------------------------------------------- */
.about-space{background-color: #f5f5f5;box-sizing: border-box;padding-top: 64px;padding-bottom: 48;}
.about{background-color: white;box-sizing: border-box;padding: 64px 48px 48px;box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);}
.the-child1-row-child1 img{margin-left: 10px;}
.the-child1-row-child2 li{color: black;font-size: 17.6px;font-weight: 600;margin-bottom: 16px;}
.the-child1-row-child2 span{color: rgb(78, 78, 78);font-size:1rem;font-weight: 400;margin-left:5px;}
.skils{margin:15px 0 0 10px}
.skils-title{font-size: 17.6px;font-weight:600;color: black;margin-bottom:15;}
.pross-title{margin-bottom:10;}
.progress{margin-bottom: 15;height: 10;border-radius:0;}
/* ******************************** child 2 ****************************** */
.about-me{font-size:2rem;position: relative;margin-bottom: 48;}
.about-me::after{content:"";position: absolute;bottom:-12;background-color: #0078ff;width:100;left: 0;height:3;}
.child2-p{font-size: 20px;color:#4e4e4e;margin:0px 0px 16px;font-weight:300;}
/*_______services________*/
.services-card{
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.card-content h2{
    font-size: 1.4rem;
    text-align: center;
    padding: .4rem 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.card-content p{
    margin-bottom: 1rem;
    color: #4e4e4e;
}

.card-icon{
    margin-bottom: 1rem;
}

.card-icon i{
    border:8px solid #0078ff;
    border-radius: 50%;
    padding:20px;
    font-size: 40px;
}
.card-icon i:hover{
    background-color: #0078ff;
    color:white;
    border-color: #cde1f8;
}
.services-progress .container .row{
    padding-top: 6rem;
    padding-bottom: 4rem;
}
.bg-imag{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.hover-services{
    background-color: rgba(0,122,255,0.5);
}

.progress-icon{
    margin-bottom: 1rem;
}

.progress-icon i{
    border:8px solid #cde1f8;
    border-radius: 50%;
    padding:12px;
    font-size: 30px;
}

/*__________Work___________*/

.work-content{
    padding: 2rem 3% 1rem 4%;
}
.caption-content h2{
    font-size: 1.2rem;
    color: #1e1e1e;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.caption-content .str1{
    color: #0078ff;
    font-size: .8rem;
}

.caption-content .str2{
    color: #4e4e4e;
    font-size: .8rem;
}
.plus-icon i{
    color: #0078ff;
    border: 3px solid #0078ff;
    border-radius: 50%;
    padding: 10px;
}
.work-hover{
    background-color: rgba(0,122,255,0.5);
}

.auther{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    font-size: 1.4rem;
    text-align: center;
}

.txt-scroll{
    color: #fff;
    text-align: center;
}
.txt-scroll p{
    color: #fff;
    text-align: center;
}
/*_____Blog______*/
.card-footer .w-10{
    width:9.9%;
}

.blog-content a{
    color: #1e1e1e;
}
.blog-content a:hover{
    text-decoration: none;
}
.blog-content h3:hover{
    color: #0078ff;
}
.blog-content{
    position: relative;
}

.blog-category{
    position: absolute;
    top: -19px;
    left:50%;
    transform: translateX(-50%);
    line-height: 25px;
    width:35%;
}
.blog-category h6{
    color:white;
    background-color: #0078ff;
    border-radius: 4px;
    text-align: center;
    padding: 2px;
}
.blog-content h3{
    font-size: 1.3rem;
    margin-top: .6rem;
}
.blog-content h3{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #4e4e4e;
}
.card-footer i{
    padding-left: 90px;
}

/*_______Contact_______*/
.contact-img{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.contact-hover{
    background-color: rgba(0,122,255,0.5);
}
#contact{
    margin-top: 4rem;
    padding-top: 4rem;
}
.col-md-6{
    margin-top: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.px-13{
    padding-right: 3rem;
}
.px-32{
    padding-left:3rem;
}
#contact .col-md-6 button{
    border:2px solid #0078ff;
    border-radius: 5rem;
    background-color: #0078ff;
    color:white;
    padding: 10px 24px;
    font-size:1.2rem;
    text-align: center;
}
.form-control{
    border-radius: 0;
}

.contact-head{
    position: relative;
}

.contact-head h5{
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: #1e1e1e;
    font-size: 2rem;
    font-weight: 500;
}

.contact-head h5::before{
    content: "";
    width:100px;
    height:3px;
    background-color: #0078ff;
    position:absolute;
    bottom:-8px;
    left:0;
}

.contact-content p{
    font-size: 1.25rem;
    font-weight: 200;
    margin-bottom: 1rem;
    color: rgb(68, 63, 63);
}
#contact ul{
    list-style: none;
    line-height: 2;
    padding-left: 0;
}
#contact span{
    margin-right: 10px;
    color:#0078ff;
}
.contact-social-icon i{
    border:2px solid #0078ff;
    border-radius: 50%;
    padding: 3px 5px 3px 5px;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
}
footer{
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
}
.footer-copyright p{
    color:white;

}
.footer-copyright a{
    color:white;
}
.footer-copyright a:hover{
    text-decoration: none;
}
.work-img:hover img{
    transform: scale(1.6);
}
.work-img{
    overflow:hidden;
    transition:all 1s;
}